<html xml:lang="es-ES" lang="es-ES">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Xiaomi Falseta</title>

    <meta name="description"
          content="Xiaomi, marca internacional que busca acercar la tecnología a todo el mundo. ¡Consigue ahora tu nuevo  Mi 9,Mi 8,Redmi Note 7,Redmi Note 6 Pro, POCOPHONE F1,Mi Electric Scooter y Mi A2 en nuestra pági">

    <meta property="og:image" content="https://i01.appmifile.com/webfile/globalimg/Iris/spainFB1200x628.jpg">
    <meta property="og:title" content="Xiaomi España-Tienda Oficial Online">
    <meta property="og:title" content="Xiaomi España-Tienda Oficial Online">
    <meta property="og:description" content="Regístrate ahora">
    <link href="https://i01.appmifile.com/webfile/globalimg/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="https://s01.appmifile.com/css/es/base.css?890c72e">

    <link rel="stylesheet" type="text/css" href="https://s01.appmifile.com/css/es/index.css?032ade1">
    <img src="//a-stat.appmifile.com/mstr?phpsessid=&amp;mstuid=1558489865415_2240&amp;muuid=&amp;mucid=&amp;sessionId=237989979&amp;step=8&amp;new_visitor=0&amp;mstprevpid=-banner-banner7_click&amp;mstprev_pid_loc=pcpid&amp;prevtarget=%2F%2Fwww.youtube.com%2Fembed%2Fhttps%3A%2F%2Fwww.mi.com%2Fes%2Fmi-9-se%2F&amp;lastsource=www.mi.com&amp;timestamp=1558500600284&amp;ref=https%3A%2F%2Fwww.mi.com%2Fglobal%2F&amp;domain=.mi.com&amp;screen=1920*1080&amp;language=en-US&amp;vendor=Google Inc.&amp;platform=Win32&amp;gu=https%3A%2F%2Fwww.mi.com%2Fes%2F&amp;pu=https%3A%2F%2Fwww.mi.com%2Fglobal%2F&amp;rf=0&amp;mutid=&amp;ldns=0&amp;con=0&amp;res=1&amp;down=2&amp;redi=1&amp;domain_id=138&amp;pageid=c8461037913c5864&amp;curl=https%3A%2F%2Fwww.mi.com%2Fes%2F&amp;xmv=1558489865415_2240_1558500598809&amp;v=1.4.15&amp;vuuid=T50DJ933809FS99T"
         style="float: left;"><img
            src="//a-stat.appmifile.com/mstr?phpsessid=&amp;mstuid=1558489865415_2240&amp;muuid=&amp;mucid=&amp;sessionId=237989979&amp;step=9&amp;new_visitor=0&amp;mstprevpid=-banner-banner7_click&amp;mstprev_pid_loc=pcpid&amp;prevtarget=%2F%2Fwww.youtube.com%2Fembed%2Fhttps%3A%2F%2Fwww.mi.com%2Fes%2Fmi-9-se%2F&amp;lastsource=www.mi.com&amp;timestamp=1558500603134&amp;ref=https%3A%2F%2Fwww.mi.com%2Fglobal%2F&amp;domain=.mi.com&amp;screen=1920*1080&amp;language=en-US&amp;vendor=Google Inc.&amp;platform=Win32&amp;gu=https%3A%2F%2Fwww.mi.com%2Fes%2F&amp;pu=https%3A%2F%2Fwww.mi.com%2Fglobal%2F&amp;rf=1&amp;mutid=&amp;domain_id=138&amp;pageid=c8461037913c5864&amp;curl=https%3A%2F%2Fwww.mi.com%2Fes%2F&amp;xmv=1558489865415_2240_1558500598809&amp;v=1.4.15&amp;vuuid=T50DJ933809FS99T&amp;fs=134&amp;ws=134&amp;ua=444&amp;td=3421&amp;type=performance"
            style="float: left;"><img
            src="//a-stat.appmifile.com/mstr?mstpid=c8461037913c5864-11af791242da2ce4&amp;phpsessid=&amp;mstuid=1558489865415_2240&amp;sessionId=237989979&amp;muuid=&amp;mucid=&amp;mstprevpid=-banner-banner7_click&amp;lastsource=www.mi.com&amp;timestamp=1558500604067&amp;domain=.mi.com&amp;screen=1920*1080&amp;language=en-US&amp;vendor=Google Inc.&amp;platform=Win32&amp;target=&amp;prevtarget=%2F%2Fwww.youtube.com%2Fembed%2Fhttps%3A%2F%2Fwww.mi.com%2Fes%2Fmi-9-se%2F&amp;pid_loc=pcpid&amp;mstprev_pid_loc=pcpid&amp;domain_id=138&amp;pageid=c8461037913c5864&amp;curl=https%3A%2F%2Fwww.mi.com%2Fes%2F&amp;xmv=1558489865415_2240_1558500598809&amp;v=1.4.15&amp;vuuid=T50DJ933809FS99T"
            style="float: left;"><img
            src="//a-stat.appmifile.com/mstr?mstpid=c8461037913c5864-11af791242da2ce4&amp;phpsessid=&amp;mstuid=1558489865415_2240&amp;sessionId=237989979&amp;muuid=&amp;mucid=&amp;mstprevpid=c8461037913c5864-11af791242da2ce4&amp;lastsource=www.mi.com&amp;timestamp=1558500605552&amp;domain=.mi.com&amp;screen=1920*1080&amp;language=en-US&amp;vendor=Google Inc.&amp;platform=Win32&amp;target=&amp;prevtarget=&amp;pid_loc=pcpid&amp;mstprev_pid_loc=pcpid&amp;domain_id=138&amp;pageid=c8461037913c5864&amp;curl=https%3A%2F%2Fwww.mi.com%2Fes%2F&amp;xmv=1558489865415_2240_1558500598809&amp;v=1.4.15&amp;vuuid=T50DJ933809FS99T"
            style="float: left;"><img
            src="//a-stat.appmifile.com/mstr?mstpid=c8461037913c5864-11af791242da2ce4&amp;phpsessid=&amp;mstuid=1558489865415_2240&amp;sessionId=237989979&amp;muuid=&amp;mucid=&amp;mstprevpid=c8461037913c5864-11af791242da2ce4&amp;lastsource=www.mi.com&amp;timestamp=1558500609303&amp;domain=.mi.com&amp;screen=1920*1080&amp;language=en-US&amp;vendor=Google Inc.&amp;platform=Win32&amp;target=&amp;prevtarget=&amp;pid_loc=pcpid&amp;mstprev_pid_loc=pcpid&amp;domain_id=138&amp;pageid=c8461037913c5864&amp;curl=https%3A%2F%2Fwww.mi.com%2Fes%2F&amp;xmv=1558489865415_2240_1558500598809&amp;v=1.4.15&amp;vuuid=T50DJ933809FS99T"
            style="float: left;"><img
            src="//a-stat.appmifile.com/mstr?mstpid=c8461037913c5864-11af791242da2ce4&amp;phpsessid=&amp;mstuid=1558489865415_2240&amp;sessionId=237989979&amp;muuid=&amp;mucid=&amp;mstprevpid=c8461037913c5864-11af791242da2ce4&amp;lastsource=www.mi.com&amp;timestamp=1558500618879&amp;domain=.mi.com&amp;screen=1920*1080&amp;language=en-US&amp;vendor=Google Inc.&amp;platform=Win32&amp;target=&amp;prevtarget=&amp;pid_loc=pcpid&amp;mstprev_pid_loc=pcpid&amp;domain_id=138&amp;pageid=c8461037913c5864&amp;curl=https%3A%2F%2Fwww.mi.com%2Fes%2F&amp;xmv=1558489865415_2240_1558500598809&amp;v=1.4.15&amp;vuuid=T50DJ933809FS99T"
            style="float: left;">
</head>
<body>

<div class="col-sm-12 entry-board J_entryBoard">
    <div class="container">
        <ul class="external-entries">
            <li class="entry "><a >Xiaomi Falseta</a></li>
            <li class="entry "><a href="https://c.mi.com/es/" target="_blank"
                                  onclick="_msq.push(['trackEvent', 'c8461037913c5864-952d0f15ad8ad70f', 'https://c.mi.com/es/', 'pcpid']);_msq.push(['trackEvent', 'event', 'index', '-sub_navigation-Mi Community_click', 'https://c.mi.com/es/'])"
                                  data-stat-id="952d0f15ad8ad70f">Mi Community</a></li>
            <li class="entry "><a href="https://play.google.com/store/apps/details?id=com.mi.global.shop&amp;hl=es"
                                  target="_blank"
                                  onclick="_msq.push(['trackEvent', 'c8461037913c5864-b5b8e0f763a23f5d', 'https://play.google.com/store/apps/details?id=com.mi.global.shop&amp;hl=es', 'pcpid']);_msq.push(['trackEvent', 'event', 'index', '-sub_navigation-DESCARGAR MI STORE APP_click', 'https://play.google.com/store/apps/details?id=com.mi.global.shop&amp;hl=es'])"
                                  data-stat-id="b5b8e0f763a23f5d">DESCARGAR MI STORE APP</a></li>
        </ul>
    </div>
</div>


<style>
    @import url("https://fonts.googleapis.com/css?family=PT+Sans+Narrow");

    .snow-template {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 999;
        background: rgba(1, 28, 48, .75);
        font-family: PT Sans Narrow, sans-serif
    }

    .snow-template .snow-contain {
        z-index: 1000;
        position: relative;
        width: 100%;
        height: 100vh
    }

    .snow-template .snow-text {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 911px;
        height: 535px;
        background: url(https://i01.appmifile.com/webfile/globalimg/sales2018/snow/snow-kv1.png);
        background-size: 100% 100%
    }

    .snow-template .snow-text .snow-text-title {
        width: 850px;
        top: 80px;
        font-size: 44px;
        line-height: 48px
    }

    .snow-template .snow-text .snow-text-content, .snow-template .snow-text .snow-text-title {
        position: absolute;
        color: #eff;
        text-align: center;
        text-shadow: 0 0 10px #eff;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none
    }

    .snow-template .snow-text .snow-text-content {
        width: 850px;
        top: 180px;
        line-height: 22px;
        font-size: 18px
    }

    .snow-template .snow-text .snow-login {
        z-index: 1001;
        position: absolute;
        top: 260px;
        left: 365px;
        width: 93px;
        height: 36px;
        background: url(https://i01.appmifile.com/webfile/globalimg/sales2018/snow/login.png);
        background-size: 100% 100%;
        text-align: center;
        color: #03365d;
        font-size: 16px;
        line-height: 30px;
        cursor: pointer
    }

    .snow-template .snow-text .disabled {
        display: none;
        pointer-events: none;
        background: url(https://i01.appmifile.com/webfile/globalimg/sales2018/snow/login-disabled.png);
        background-size: 100% 100%;
    }

    .snow-template .snow-text .snow-close {
        z-index: 1001;
        position: absolute;
        top: 0;
        right: 0;
        width: 28px;
        height: 28px;
        background: url(https://i01.appmifile.com/webfile/globalimg/sales2018/snow/close.png);
        background-size: 100% 100%;
        cursor: pointer
    }

    .snow-template .snow-text .snow-santa {
        position: absolute;
        bottom: 90px;
        left: 240px;
        width: 197px;
        height: 226px;
        background: url(https://i01.appmifile.com/webfile/globalimg/sales2018/snow/santa.png);
        background-size: 100% 100%
    }

    .snow-template .snow-text .snow-lu {
        position: absolute;
        bottom: 50px;
        right: -120px;
        width: 350px;
        height: 350px;
        background: url(https://i01.appmifile.com/webfile/globalimg/sales2018/snow/new-lu.gif);
        background-size: 100% 100%
    }

    .snow-template .snow-text .snow-rules {
        z-index: 1001;
        position: absolute;
        bottom: 10px;
        right: 0;
        color: #fff;
        font-size: 18px;
        text-decoration: underline;
        cursor: pointer
    }

    @import url("https://fonts.googleapis.com/css?family=Roboto");
    .santa-modal {
        display: none;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 999;
        transition: transform 1.5s .5s;
        transform: scale(0);
    }

    .santa-package {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 552px;
        height: 607px;
        background: url('https://i01.appmifile.com/webfile/globalimg/products/pc/product-santa/santa.png') no-repeat;
        background-size: 484px 607px;
        background-position: left;
    }

    .santa-modal.show {
        transform: scale(1);
    }

    .santa-context {
        position: absolute;
        bottom: 0;
        margin: 0 auto;
        width: 100%;
        height: 440px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .santa-context-wrapper.up {
        position: relative;
        top: -20px;
    }

    .santa-package-close {
        position: absolute;
        top: 60px;
        right: 0;
        width: 28px;
        height: 28px;
        background-image: url(https://i01.appmifile.com/webfile/globalimg/potograpy2018/home_pc/close.png);
        background-size: 28px 28px;
        background-position: center;
        cursor: pointer;
    }

    .santa-modal p {
        color: #fff;
        font-family: PT Sans Narrow;
        margin: 0 auto;
        text-align: center;
        line-height: 1.2em;
    }

    .santa-package-title p {
        line-height: 42px;
        text-shadow: 0 2px #d41235, 2px 0 #d41235, -2px 0 #d41235, 0 -2px #d41235;
    }

    .santa-package-title .large-font {
        font-size: 50px;
    }

    .santa-package-title .small-font {
        font-size: 40px;
    }

    .santa-package-title .middle-font {
        font-size: 45px;
        position: relative;
        top: -40px;
        max-width: 330px;
    }

    .santa-package-desc p {
        font-family: Roboto;
        font-weight: 400;
    }

    .santa-package-desc .large-font {
        font-family: PT Sans Narrow;
        font-size: 22px;
        text-shadow: 0 1px #d41235, 1px 0 #d41235, -1px 0 #d41235, 0 -1px #d41235;
        max-width: 360px;
    }

    .santa-package-desc .small-font {
        font-size: 18px;
        margin: .7em auto;
    }

    .santa-package-desc .small-font[data-status="1"] {
        max-width: 280px;
    }

    .santa-package-desc .small-font[data-status="2"] {
        max-width: 400px;
    }

    .santa-package-desc .small-font[data-status="3"] {
        max-width: 300px;
    }

    @keyframes show-santa {
        0% {
            transform: scale(0);
        }
        100% {
            transform: scale(1);
        }
    }

    .santa-modal .snow-modal-contain {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
        transition: opacity 1.5s 2.2s;
    }

    .santa-modal.show .snow-contain {
        opacity: 1;
    }

    .left-up {
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 999;
    }

    .right-up {
        position: absolute;
        right: 20px;
        top: 20px;
        z-index: 999;
    }

    .left-down {
        position: absolute;
        bottom: 20px;
        left: 20px;
        z-index: 999;
    }

    .right-down {
        position: absolute;
        right: 20px;
        bottom: 20px;
        z-index: 999;
    }

    #santa-icon {
        width: 9.77vw;
        height: auto;
        cursor: pointer;
    }

    .santa-pop {
        cursor: pointer;
        width: 9.77vw;
        height: 9.77vw;
        background-color: #fff;
        display: none;

    }

    .santa-disapped {
        cursor: pointer;
        transform: scale(0);
        transform-origin: 50% 100%;
        transition: transform 0.6s;
    }

    .santa-bigger {
        cursor: pointer;
        transform: scale(1.1);
        transform-origin: 50% 100%;
        transition: transform 0.3s;
    }
</style>
<style>
    .snow-template .snow-text .snow-lu {
        position: absolute;
        bottom: 110px;
        right: 0;
        width: 87px;
        height: 244px;
        background: url("https://i01.appmifile.com/webfile/globalimg/sales2018/snow/sprite-pc.png");
        background-size: 100% 100%;
    }
</style>
</body>
</html>