<% const nombreUsuario = 'Ernesto';%>

<%- include('../componentes/menu/menu'),{nombre:nombreUsuario}%>

<p>Crea un nuevo trago.</p>
<form
        action="/api/traguito/crear"
        method="post"
>

    <label for="nombreId">Nombre</label>
    <input id="nombreId" name="nombre" type="text">
    <br>

    <label for="tipoId">Tipo de Trago</label>
    <select name="tipo" id="tipoId">
        <option value="Ron">Roncito</option>
        <option value="Vodka">Vodquita</option>
        <option value="Tequila">Tequilita</option>
        <option value="Whiskey">Whiskycito</option>
        <option value="Puntas">Puntitas</option>
        <option value="Cerveza">Chelitas</option>
    </select>
    <br>

    <label for="gradosID">Grados de alcohol</label>
    <input id="gradosID"
           name="gradosalcohol"
           type="number"
           min="0"
           max="100"
           step="0.1"
    >
    <br>

    <label for="fecha_caducidadId">Fecha de Caducidad</label>
    <input id="fecha_caducidadId" name="fecha_caducidad" type="date">
    <br>

    <label for="precioId">Precio</label>
    <input id="precioId"
           name="precio"
           type="number"
           min="0"
           max="100"
           step="0.1">
    <br>


    <a href="/api/traguito/lista">
        <button type="button">Cancelar</button>
    </a>


    <!--<button type="reset">Reset</button>-->
    <!--<button type="submit">Submit</button>-->
    <button>Enviar informacion</button>

</form>