
<% const nombre = 'Ernesto';  // codigo JS%>
<%= nombre%>
<% const arreglo = [1,2,3,4,5];%>
<%= arreglo %>
<% const objeto = {nombre: 'Ernesto'};%>
<%= objeto %>
<% arreglo.forEach((valorActual)=>{%>
    <p> Numero: <%=valorActual%></p>
<% })%>

<% if(estaVivo){ %>
    <h1>Esta VIVO!!!! </h1>
<% } else {%>
    <h1>C MURIO :'v</h1>
<%}%>

