<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Estilos</title>

</head>
<style>
    /* Todo lo contenitod en la etiqueta "style" es CSS */
    /* selector (propiedad: valor)*/

    /*selector -> Etiqueta*/

    /*importancia: ID > CLASE > ETIQUTA*/
    /*importancia: ID > CLASE.ETIQUETA > CLASE > ETIQUTA
    --> LA UNION DE SELECTORES ES MÃS IMPORTANTE QUE SELECTORES SOLOS*/
    h1{
        color: darkred;
        background-color: yellow;
    }

    p,h2,div{
        color: green;
        background-color: orange;
    }
    /*selector -> id*/
    #adios {
        color: pink;
        background-color: purple;
    }




</style>
<body>
    <h1>Hola</h1>
    <h1 id="adios">Adios</h1>
    <h1 class="Verde">Bienvenidos</h1>
    <p>Barcelona</p>
    <div>Liga</div>
    <h2>Emelec</h2>

</body>
</html>