<!DOCTYPE html>
<html lang="es-es">
    <head>

        <link rel="icon"
              type="image/png"
              href="http://127.0.0.1:3000/img/DeathStar.png">
        <title>Peliculas</title>
        <meta charset="utf-8"/>

    </head>
    <body>
    <!--Header 1-6 -->
    <h1>titulo 1</h1>
    texto sin titulo
    <h2>titulo 2</h2>
    texto sin titulo
    <h3>titulo 3</h3>
    texto sin titulo
    <h4>titulo 4</h4>
    texto sin titulo
    <h5>titulo 5</h5>
    texto sin titulo
    <h6>titulo 6</h6>
    texto sin titulo

    <!--Parrafo-->
    <p>Este es un parrafo</p>
    <p>Esto es <p>otro parrafo</p> un parrafo</p>
    <p>Esto es <span>otro parrafo</span> un parrafo</p>

    <!-- Unordered list-->
    <ul>
        <li>a</li> <!--List Item-->
        <li>b</li>
    </ul>

    <!-- Ordered list-->
    <ol>
        <li>a</li><!--List Item-->
        <li>b</li>
    </ol>

    <!-- Anchor -->
    <a href="https://www.google.com" target="_blank">Google externo(_blank)</a>
    <a href="https://www.google.com" target="_self">Google aquí mismo(_self)</a>
    <a href="https://www.google.com" >Google aquí mismo</a>
    <a href="https://www.google.com" target="_top">Google aquí mismo(_top)</a>
    <a href="https://www.google.com" target="_parent">Google aquí mismo(_parent)</a>

    <!-- Imagenes -->
    <img src="/img/DeathStar.png" alt="Estrella de la muerte incompleta">

    <!-- Formularios -->
    <form action="">

        <label for="nombre">Nombre</label>
        <input id="nombre"   type="text">

        <button>Enviar Datos</button>

    </form>

    <label for="fuera">Fuera Del Formulario</label>
    <input id="fuera"   type="text">

    <button>Enviar Datos</button>

    </body>
</html>