<style>
    .encabezado {
        padding-top: 20px;
        font-family: 'Prelo Medium',sans-serif;
        text-align: right;
        background-color: lightblue;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="encabezado">
            <a href="http://localhost:3000/api/login">
                <p>Salir</p>
            </a>
        </div>

    </div>
</div>
